<h2>SportFlow správy</h2>
<div class="news-container">
    <div class="news-row">
      <div class="news-item">
        <img src="assets/messi.png" alt="Messi Zlatá lopta">
        <p>Messi získal ďalšiu Zlatú loptu.</p>
      </div>
      <div class="news-item">
        <img src="assets/messi.png" alt="Ronaldo rekord">
        <p>Messi vyhral majstrovstvá sveta vo futbale</p>
      </div>
      <div class="news-item">
        <img src="assets/messi.png" alt="Premier League líder">
        <p>Premier League má nového lídra tabuľky.</p>
      </div>
    </div>
    <div class="news-row">
      <div class="news-item">
        <img src="assets/messi.png" alt="Bayern Mníchov víťaz">
        <p>Bayern Mníchov triumfoval v Bundeslige.</p>
      </div>
      <div class="news-item">
        <img src="assets/messi.png" alt="Real Madrid El Clásico">
        <p>Barcelona vyhrala v El Clasicu proti Realu Madrid</p>
      </div>
      <div class="news-item">
        <img src="assets/messi.png" alt="Mbappé prestup">
        <p>askjdasjdbasjdbajbsdbasjdbasjdjbkasdbjaskd</p>
      </div>
    </div>
  </div>
<h2>Dnes sa bude hrať</h2>
<table>
    <tr>
        <th>Domáci</th>
        <th>Hostia</th>
        <th>Čas</th>
    </tr>
    <tr>
        <td>Brentford</td>
        <td>Everton</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Nottingham Forest</td>
        <td>Arsenal</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Tottenham</td>
        <td>Manchester City</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Manchester United</td>
        <td>Ipswich Town</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Liverpool</td>
        <td>Newcastle</td>
        <td>21:15</td>
    </tr>
</table>