<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Liga</title>
    <style>
    
    </style>
</head>
<body>
    <h1>La Liga – Španielska futbalová elita</h1>
    <p>
        La Liga, oficiálne známa ako <strong>LaLiga EA Sports</strong>, je najvyššia profesionálna futbalová súťaž v Španielsku.
        Bola založená v roku 1929 a počas svojej histórie si vybudovala reputáciu jednej z najprestížnejších líg na svete.
        Každú sezónu v nej súťaží 20 tímov, ktoré bojujú o titul, miestenku v európskych pohároch a o záchranu pred zostupom.
    </p>
    <p>
        Medzi najslávnejšie kluby patria <strong>Real Madrid</strong>, <strong>FC Barcelona</strong> a <strong>Atlético Madrid</strong>,
        ktorých vzájomné zápasy patria medzi najsledovanejšie športové udalosti na svete. La Liga je známa technickým a atraktívnym
        štýlom hry, vysokou kvalitou hráčov a bohatou futbalovou históriou.
    </p>
    <img src="assets/tabulka.png" alt="Tabulka týmů La Ligy" class="centered-image">
    <br>
</body>
</html>
