<h2>SportFlow správy</h2>
<div class="news-container">
  <div class="news-row">
    <div class="news-item">
      <img src="assets/messi.png" alt="Messi Zlatá lopta">
      <p>Messi získal ďalšiu Zlatú loptu</p>
    </div>
    <div class="news-item">
      <img src="assets/messi.png" alt="Ronaldo rekord">
      <p>Messi je najlepší futbalista v historií</p>
    </div>
    <div class="news-item">
      <img src="assets/messi.png" alt="Premier League líder">
      <p>Premier League má nového lídra tabuľky</p>
    </div>
  </div>
  <div class="news-row">
    <div class="news-item">
      <img src="assets/messi.png" alt="Bayern Mníchov víťaz">
      <p>Bayern Mníchov triumfoval v Bundeslige</p>
    </div>
    <div class="news-item">
      <img src="assets/messi.png" alt="Real Madrid El Clásico">
      <p>Barcelona je najlepší tím na svete</p>
    </div>
    <div class="news-item">
      <img src="assets/messi.png" alt="Mbappé prestup">
      <p>Mbappé sa blíži k prestupu do Realu Madrid</p>
    </div>
  </div>
</div>
