
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contact-container">
        <h2>Kontaktujte nás</h2>
      
        <div class="contact-info">
          <div class="info-block">
            <h3>Adresa</h3>
            <p>SportFlow s.r.o.</p>
            <p>Športová 10</p>
            <p>022 01 Čadca</p>
          </div>
      
          <div class="info-block">
            <h3>Telefón</h3>
            <p>+421 912 345 678</p>
            <p>+421 987 654 321</p>
          </div>
      
          <div class="info-block">
            <h3>Email</h3>
            <p>infosportflow&#64;gmail.com</p>
            <p>podporasportflow&#64;gmail.com</p>
          </div>
        </div>
      
        <div class="contact-form">
          <h3>Napíšte nám</h3>
          <form>
            <label for="name">Meno</label>
            <input type="text" id="name" name="name" placeholder="Vaše meno" required>
      
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Váš email" required>
      
            <label for="message">Správa</label>
            <textarea id="message" name="message" rows="5" placeholder="Sem napíšte svoju správu..." required></textarea>
      
            <button type="submit">Odoslať</button>
          </form>
        </div>
      </div>
      
</body>
</html>


    
