
<h2>Dnes sa bude hrať</h2>
<table>
    <tr>
        <th>Domáci</th>
        <th>Hostia</th>
        <th>Čas</th>
    </tr>
    <tr>
        <td>Brentford</td>
        <td>Everton</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Nottingham Forest</td>
        <td>Arsenal</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Tottenham</td>
        <td>Manchester City</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Manchester United</td>
        <td>Ipswich Town</td>
        <td>20:30</td>
    </tr>
    <tr>
        <td>Liverpool</td>
        <td>Newcastle</td>
        <td>21:15</td>
    </tr>
</table>
