
<body>
  <div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Registrácia</label>
        <input type="text" name="name" placeholder="Meno" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Heslo" required>
        <button type="submit">Zaregistrovať sa</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Prihlásiť sa</label>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Heslo" required>
        <button type="submit" (click)="login()" >Prihlásiť sa</button>
        
        <div class="switch-to-register">
          <label for="chk">Nemáte účet? <span>Zaregistrujte sa</span></label>
        </div>
      </form>

      <div class="background">
        <i class="fas fa-football-ball sport-object ball"></i>
        <i class="fas fa-hockey-puck sport-object hockey-stick"></i>
        <i class="fas fa-bicycle sport-object skates"></i>
        <i class="fas fa-basketball-ball sport-object football"></i>
      </div>
    </div>
  </div>
</body>
